.login-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background-image: url("/bg.jpg");
  background-size: cover;
  position: relative;
}

.right-panel {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.login-card {
  width: 380px;
  border-radius: 24px;
}

.overlay-card {
  position: absolute;
  bottom: 120px;
  left: 60px;

  width: 500px;
  padding: 40px;

  border-radius: 24px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  color: white;
}